
/*element-level styles*/

  /*Set default font - this will be overridden add certain more specific levels*/
body {
  font-family: serif;
}

  /*Format main headings*/
h1 {
  font-family: 'Ribeye Marrow', cursive;
  color: #68636b;
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

/*class-level styles*/

  /*Modify font for image captions*/
.figure-caption {
  color: black;
  font-size: 12px;
}

  /*Assign picture to jumbotron and adjust alignment*/
.jumbotron {
  background-image: url(panorama1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

  /*Format lists on the Other Resources page*/
.list-group-item {
  border: none;
  background: none;
}

.linkbl {
  color: black;
}

.linkbl:hover {
  color: black;
}


/*id-level styles*/

  /*Override class-level image formatting for the picture in the NavBar*/
#navpic {
  width: 50px;
}

  /*Override max size for select larger images*/
#largepic {
  max-width: 60%;
  max-height: auto;
}

  /*Add vertical divider lines between columns on the Other Resources page, and add French flag background colors*/
#col1 {
  background-color: #5454f3;
}

#col2 {
  padding-right:20px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background-color: #f7f3f3;
}

#col3 {
  background-color: #f35858;
}
